.dark-blue {
    color: #137cbe;
}

.light-blue {
    color: #49b5e4;
}

.dark-grey {
    color: #737373;
}

.white {
    color: white;
}

.dark-blue-bg {
    background-color: #137cbe;
}

.light-blue-bg {
    background-color: #49b5e4;
}

.dark-grey-bg {
    background-color: #737373;
}

.white-bg {
    background-color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', serif;
}

p {
    font-size: 16px;
    margin: 0;
}

header {
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
}

header div.left {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
    cursor: default;
    gap: 10px;
}

header div.left img {
    width: 64px;
    height: 64px;
    border-radius: 10px;
}

header div.left h1 {
    margin: 0;
}

header div.right {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
}

header div.right h2 {
    font-style: italic;
    font-size: 18px;
    margin: 0;
    text-align: right;
}

section.downloads {
    background-image: url(/img/index/download-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 500px;
}

section.brands {
    overflow: hidden;
}

section.brands section.row {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

section.brands section.row h3 {
    font-size: 26px;
}

section.brands section.row a {
    display: flex;
    align-items: center;
}

section.brands section.row a img {
    max-width: 192px;
    height: auto;
    align-self: center;
}

section.founders {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 60px auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;
}

section.founders section.founder {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.founders section.founder img {
    width: 100%;
    border-radius: 50%;
}

section.founders section.founder p {
    text-align: center;
    font-style: italic;
    font-size: 26px;
}

section.founders section.founder p.signature {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

footer {
    padding: 10px 20px;
    padding-bottom: 128px;
    display: flex;
}

footer div.left {
    flex: 1;
    text-align: left;
    border-right: 1px solid white;
}

footer div.left p.subheader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer div.left a {
    text-decoration: underline;
}

footer div.left div.linked-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

footer div.left div.linked-icons img {
    width: 64px;
    height: 64px;
}

footer div.left div.linked-icons a {
    text-decoration: none;
}

footer div.right {
    flex: 1;
    text-align: right;
}

footer div.right img.map {
    width: 256px;
    height: 256px;
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    header div.left {
        flex: 1;
        justify-content: center;
    }

    header div.right {
        flex: 1;
        justify-content: center;
    }

    header div.right h2 {
        text-align: center;
    }

    section.downloads {
        background-size: auto auto;
    }
}